<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @agendas.object %>
    <h1>Edit <%= @agendas.Date%></h1>
    <%= link_to "Delete", :action => :delete, :id => @agendas.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @agendas.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Date: </td>
              <td class="itemValue"><input type="text" name="agendas[Date]" value="<%= @agendas.Date %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Title: </td>
              <td class="itemValue"><input type="text" name="agendas[Title]" value="<%= @agendas.Title %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Text: </td>
              <td class="itemValue"><input type="text" name="agendas[Text]" value="<%= @agendas.Text %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Sessions: </td>
              <td class="itemValue"><input type="text" name="agendas[Sessions]" value="<%= @agendas.Sessions %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
