<div data-role="page" data-add-back-btn="true">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :index %>
    <h1><%= @agendas.Date %></h1>
    <%= link_to "Edit", :action => :edit, :id => @agendas.object %>
  </div>

  <div data-role="content">
    <table>
      
      <tr>
    	<td class="itemLabel">Date</td>
        <td class="itemValue"><%= @agendas.Date%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Title</td>
        <td class="itemValue"><%= @agendas.Title%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Text</td>
        <td class="itemValue"><%= @agendas.Text%></td>
      </tr>
      
      <tr>
    	<td class="itemLabel">Sessions</td>
        <td class="itemValue"><%= @agendas.Sessions%></td>
      </tr>
      
    </table>
  </div>

</div>
